<div style="position: relative;display: flex;">
    <dx-text-box 
      label="New Password"
      [readOnly]="true"
      [(value)]="generatedPassword"
      [(value)]="newFormData.NewPassword"
      width="100%"
      hint="Password"
    ></dx-text-box>

    <!-- Refresh Button -->
    <button 
    width="'70px'"
    type="button" 
    (click)="refreshPassword()"
    style="margin-top: 28px; background: none; border: none; cursor: pointer;"
  >
    <i class="dx-icon-refresh"></i>  <!-- DevExtreme refresh icon -->
  </button>
    <!-- [mode]="isPasswordVisible ? 'text' : 'password'"  -->
    <!-- Show/Hide Eye Icon -->
    <!-- <button 
      type="button"
      (click)="togglePasswordVisibility()"
      style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer;"
    >
      <i class="{{ isPasswordVisible ? 'dx-icon-eyeopen' : 'dx-icon-eyeclose' }}"></i>
    </button> -->
    <dx-tooltip 
    [target]="copyButton"
    [position]="{ my: 'top', at: 'bottom', of: copyButton }"
    [visible]="tooltipVisible"
    [showEvent]="'click'"
    [hideEvent]="'click'"
    [animation]="{ show: { type: 'fade', duration: 300 }, hide: { type: 'fade', duration: 300 } }"
  >
  <div>Copied!</div>
  </dx-tooltip>
  <button 
    #copyButton
    type="button"
    (click)="copyToClipboard()"
    style="position: absolute; right: 35px; top: 39px; transform: translateY(-50%); background: none; border: none; cursor: pointer;"
  >
    <i class="dx-icon-copy"></i>  <!-- Use appropriate icon for copy action -->
  </button>
  </div>
  <div>
    <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
    <dx-button
        text="Cancel"
        stylingMode="outlined"
        type="normal"
        style="margin-right: 10px;"
        (click)="close()"
      ></dx-button>
      <dx-button
        text="Save"
        stylingMode="contained"
        type="default"
        (click)="ResetPassword()"
      ></dx-button>
    </div>
  </div>