<div class="view-wrapper list-page">
  <dx-data-grid
    class="grid theme-dependent"
    noDataText=""
    height="84vh"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    (onExporting)="onExporting($event)"
    (onRowUpdating)="onRowUpdating($event)"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [popup]="{ width: '40%', height: 'auto' }"
    >
      <dxo-popup
        title="Postoffice Credentials"
        [showTitle]="true"
        width="40%"
        height="70vh"
      >
      </dxo-popup>
      <dxo-form [colCount]="1">
        <dxi-item
          dataField="FacilityLicense"
          caption="Facility License"
          [disabled]="true"
        ></dxi-item>
        <dxi-item
          dataField="FacilityName"
          caption="Facility Name"
          [disabled]="true"
        ></dxi-item>
        <dxi-item
          dataField="PostOfficeID"
          caption="PostOffice"
          [disabled]="true"
        >
          <dxo-lookup
            [dataSource]="postOffice_DropDownData"
            displayExpr="DESCRIPTION"
            valueExpr="ID"
          >
          </dxo-lookup>
        </dxi-item>
        <dxi-item dataField="LoginName" caption="Login Name"></dxi-item>
        <dxi-item
          dataField="Password"
          caption="Password"
          [editorType]="'dxTextBox'"
          [editorOptions]="{ mode: 'password' }"
        ></dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Postoffice Credentials</div>
      </dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>

    <!-- <dxo-selection mode="multiple"></dxo-selection> -->
    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>
    <dxi-column
      dataField="FacilityLicense"
      caption="Facility License"
      [allowEditing]="false"
      [allowReordering]="false"
      [allowHiding]="false"
    ></dxi-column>
    <dxi-column
      dataField="FacilityName"
      caption="Facility Name"
      [allowEditing]="false"
      [allowReordering]="false"
      [allowHiding]="false"
      [width]="'auto'"
    ></dxi-column>
    <dxi-column
      dataField="PostOfficeID"
      caption="PostOffice"
      [allowEditing]="false"
      [allowReordering]="false"
      [allowHiding]="false"
    >
      <dxo-lookup
        [dataSource]="postOffice_DropDownData"
        displayExpr="DESCRIPTION"
        valueExpr="ID"
      >
      </dxo-lookup
    ></dxi-column>
    <dxi-column dataField="LoginName" caption="Login Name"></dxi-column>
    <dxi-column
      dataField="LastModified_Time"
      caption="Last Modified Time"
    ></dxi-column>
    <dxi-column
      dataField="Password"
      caption="Password"
      [visible]="false"
    ></dxi-column>
  </dx-data-grid>
</div>
