@use "../../../../variables.scss" as *;
@use "sass:math";

.list-page {
  height: 100vh;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dx-tabpanel .dx-tab {
  width: 700px;
  display: flex;
  justify-content: center;
}
.inputBox {
  width: 20%;
  // margin-left: 10px;
  padding: 0px;
}
.topDiv {
  border-radius: 8px;
  justify-content: center;
  background-color: var(--base-bg);
  margin-bottom: var(--content-padding);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.04);
}
.headDiv {
  height: 55px;
}
.tabs-demo {
  height: 75vh;
  background-color: var(--base-bg);
  border-radius: 8px;
}
.grid-header {
  @include header();
}
// .formPopupClass{
//   padding: 0px;
//   margin: 0px;
// }
.dx-popup-content {
  padding:0px;

}