.ParentDiv {
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Hide the scrollbar */
.FullBody::-webkit-scrollbar {
  width: 0;
}

.FullBody {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Optional: Add this for smoother scrolling */
.FullBody {
  scroll-behavior: smooth;
}

.FullBody {
  margin: 10px;
  width: auto;
  height: auto;
  padding: 10px;
  // overflow-y: auto;
  padding-bottom: 130px;
  border-radius: 8px;
  background-color: var(--base-bg);
}
.titleBar {
  position: sticky;
  top: 0;
  z-index: 10;


  margin: 10px;
  width: auto;
  height: 50px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--base-bg);
}

.headingText {
  font-size: 22px;
  font-weight: 400;
}
.cancelbtn {
  background-color: var(--base-bg);
}
.btnGroup {
  margin-left: auto;
  padding-right: 10px;
}
.GruopDiv {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--base-bg);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1);
}
.BorderBox {
  height: 25vh;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--base-bg);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.049);
}
.datagridSection {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--base-bg);
  box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.1),  /* Bottom-right shadow */
    -2px 2px 5px rgba(0, 0, 0, 0.1), /* Bottom-left shadow */
    -2px -2px 5px rgba(0, 0, 0, 0.1), /* Top-left shadow */
    2px -2px 5px rgba(0, 0, 0, 0.1); /* Top-right shadow */
}
.dx-datagrid .dx-header-row {
  background-color: #0d9df6; /* Light gray background */
  color: #333; /* Dark gray text */
  font-weight: bold; /* Bold header text */
}

