<div class="ParentDiv">
  <div class="titleBar d-flex align-items-center">
    <div class="headingText">Notification Settings</div>
    <div class="ms-auto mt-0 me-4 d-flex align-items-center">
      <!-- <div class="me-2 cancelbtn">
        <dx-button
          stylingMode="outlined"
          text="cancel"
          type="normal"
          (onClick)="onClickCancel()"
        >
        </dx-button>
      </div> -->
      <div>
        <dx-button
          stylingMode="contained"
          text="save"
          type="default"
          (onClick)="onClickSave()"
        >
        </dx-button>
      </div>
    </div>
  </div>

  <div class="FullBody view-wrapper">
    <div class="mainclass">
      <dx-tabs
        #withIconAndText
        [width]="width"
        [selectedIndex]="0"
        [rtlEnabled]="rtlEnabled"
        [scrollByContent]="scrollByContent"
        [showNavButtons]="showTabNavButtons"
        [dataSource]="tabsWithIconAndText"
        [orientation]="orientation"
        [stylingMode]="stylingMode"
        [iconPosition]="iconPosition"
        (onItemClick)="onTabClick($event)"
      >
      </dx-tabs>
      <div class="BorderBox">
        <dx-form [formData]="formData" #formRef>
          <!-- E-mail Tab -->

          <dxi-item
            *ngIf="clickedTabName === 'E-mail'"
            [visible]="isEmailVisible"
            itemType="group"
            [colCount]="2"
            [height]="'10px'"
          >
            <!-- Sender ID -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.EmailSenderID"
                mode="email"
                label="Sender ID"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Sender ID is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- SMTP Host -->
            <dxi-item class="m-0 ms-3 p-0">
              <dx-text-box
                [(value)]="formData.EmailSMTPHost"
                mode="text"
                label="SMTP HOST"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="SMTP Host is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- Sender Name -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.EmailSenderName"
                mode="text"
                label="Sender Name"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Sender Name is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- SMTP Port -->
            <dxi-item class="m-0 ms-3 p-0">
              <dx-text-box
                [(value)]="formData.EmailSMTPPort"
                mode="text"
                label="SMTP PORT"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="SMTP Port is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- Password -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.EmailSenderPassword"
                mode="password"
                label="Password"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Password is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <dxi-item itemType="group" [colCount]="2">
              <!-- SSL Enable Checkbox -->
              <dxi-item class="ms-3 mt-3 p-0">
                <dx-check-box
                  [(value)]="formData.EmailEnableSSL"
                  text="Enable SSL/TLS"
                  [iconSize]="20"
                ></dx-check-box>
              </dxi-item>
              <!-- SSL Enable Checkbox -->
              <dxi-item class="mt-2">
                <dx-button
                  stylingMode="contained"
                  text="Test mail"
                  type="success"
                  (onClick)="onClickTestMail()"
                >
                </dx-button>
              </dxi-item>
            </dxi-item>
          </dxi-item>

          <!-- SMS Tab -->

          <dxi-item
            *ngIf="clickedTabName === 'SMS'"
            [visible]="isSMSVisible"
            itemType="group"
            [colCount]="2"
            [height]="10"
          >
            <!-- Provider URL -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.SMSProviderURL"
                mode="email"
                label="Provider URL"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Provider URL is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- User ID -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.SMSUserID"
                mode="text"
                label="User ID"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="User ID is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- SMS Password -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.SMSPassword"
                mode="password"
                label="SMS Password"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="SMS Password is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- Mobile Number -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.SMSMobileNo"
                mode="text"
                label="Mobile Number"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="Mobile Number is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>
          </dxi-item>

          <!-- WhatsApp Tab -->

          <dxi-item
            *ngIf="clickedTabName === 'WhatsApp'"
            [visible]="iswhatsAppVisible"
            itemType="group"
            [colCount]="1"
          >
            <!-- WhatsApp Number -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.WhatsappNumber"
                mode="text"
                label="WhatsApp Number"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="pattern"
                    message="WhatsApp Number is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>

            <!-- WhatsApp Source -->
            <dxi-item class="m-0 p-0">
              <dx-text-box
                [(value)]="formData.WhatsappSource"
                mode="text"
                label="WhatsApp Source"
                labelMode="floating"
                labelLocation="left"
              >
                <dx-validator>
                  <dxi-validation-rule
                    type="required"
                    message="WhatsApp Source is required"
                  ></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </div>
    <div class="datagridSection mt-4">
      <dx-data-grid
        [dataSource]="dataSource"
        [showBorders]="true"
        [height]="'auto'"
        [paging]="{ pageSize: 10 }"
        [editing]="{
          mode: 'cell',
          allowUpdating: true,
          allowAdding: false,
          allowDeleting: false
        }"
        [allowColumnReordering]="true"
        [allowColumnResizing]="true"
      >
        <dxo-paging [pageSize]="10"></dxo-paging>

        <dxi-column
          dataField="serialNumber"
          caption="SL No"
          width="auto"
        ></dxi-column>
        <dxi-column dataField="Notification" caption="Action"></dxi-column>
        <dxi-column dataField="SendEmail" caption="Email"></dxi-column>
        <dxi-column dataField="SendSMS" caption="SMS"></dxi-column>
        <dxi-column dataField="SendWhatsapp" caption="WhatsApp"></dxi-column>
      </dx-data-grid>
    </div>
  </div>

  <dx-popup
    [width]="'60%'"
    [height]="'70vh'"
    [showTitle]="true"
    title="Test Mail"
    [dragEnabled]="true"
    [hideOnOutsideClick]="false"
    [showCloseButton]="true"
    container=".dx-viewport"
    [(visible)]="testMailpopupVisible"
    (onHidden)="cleardata()"
  >
    <div>
      <div class="d-flex align-items-center">
        <div class="ms-auto">
          <dx-button
            stylingMode="contained"
            text="Send"
            type="default"
            (onClick)="onTestMailSending()"
          >
          </dx-button>
        </div>
      </div>
      <!-- receiver id -->
      <dxi-item class="m-0 p-0">
        <dx-text-box
          [(value)]="TestMailReceiverID"
          mode="email"
          label="Receiver ID"
          labelMode="floating"
          labelLocation="left"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Receiver ID is required"
            ></dxi-validation-rule>
            <dxi-validation-rule
              type="email"
              message="Please enter a valid email address"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </dxi-item>
      <!-- mail subject  -->
      <dxi-item class="m-0 p-0 mt-2">
        <dx-text-box
          [(value)]="TestMailSubject"
          mode="text"
          label="Subject"
          labelMode="floating"
          labelLocation="left"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Sender ID is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </dxi-item>
      <!-- <div class="d-flex align-items-center mt-3 mb-3">
        <div class="ms-auto">
          <dx-button
            stylingMode="contained"
            text="Html Editor"
            type="default"
            (onClick)="onClickSave()"
          >
          </dx-button>
        </div>
      </div> -->
      <!-- test mail message body  -->
      <dxi-item class="m-0 p-0 mt-4">
        <dx-text-area
          [(value)]="TestMailMessageBody"
          label="Message"
          labelMode="floating"
          labelLocation="left"
          height="250px"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Message is required"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-area>
      </dxi-item>
    </div>
  </dx-popup>
</div>
