#fileInput {
  display: none;
}

.toolBarDiv {
  padding: 0px;
}
.dx-datagrid-header-panel .dx-toolbar-text-auto-hide .dx-button.dx-button-has-icon {
  border-radius: 4px;
  margin-right: 10px;
}
.dx-toolbar-after {
  top: 0;
  display: table;
  height: 100%;
  width: 30%;
  margin: 0px;
}
