
.FullBody{
    margin: 5px;
    height: 100vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 130px;
}
.BorderBox {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--base-bg);
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1);

}

.top-border-checkbox {
    position: absolute;
    top: -25px;
    left: 10px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}

.conditionDiv{
    position: relative;
    margin-top: 10px;
    padding: 10px;
}
.RadioGrp{
    position: absolute;
    top: -15px;
    left: 10px;
    padding: 2px;
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
}
.RagioDiv{
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}
.dx-field{
    margin: 0px;

}
.leftDiv{
    width: 50%;
    height: 25vh;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1);
}
.rightDiv{
    width: 50%;
    height: 25vh;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1),
    2px 2px 2px rgba(0, 0, 0, 0.1),
    0 2px 2px rgba(0, 0, 0, 0.1);
}
.headingText{
    position: absolute;
    top: -23px;
    left: 10px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}
.custom-label{
    width: 20%;
}
.custom-value{
    width: 50%;
}
.cancelbtn{
    background-color: var(--base-bg);
}
