<div class="FullBody view-wrapper">
    <div class="BorderBox">
        <div class="dx-field m-4">
            <dx-check-box class="top-border-checkbox" [value]="validationRequired" [iconSize]="30"
                text="Password Validation Required" (valueChange)="onValidationEnableChange($event)"></dx-check-box>
        </div>
        <div class="m-0">
            <dx-number-box [value]="minPasswordLength" labelMode="floating" labelLocation="left"
                label="Minimum Password Length" [showSpinButtons]="true" [width]="'50%'" [readOnly]="readOnlyValue"
                hint="Minimum length of a Password">
                <dxi-button name="spins"></dxi-button>
            </dx-number-box>
        </div>

        <div class="conditionDiv mt-5">
            <div class="dx-field RadioGrp d-flex align-items-center mb-5 ps-2 pe-2">
                <div class="me-3">Maximum Condition Required</div>
                <div class="">
                    <dx-radio-group [items]="conditionRequired" [value]="conditionRequiredValue" layout="horizontal"
                        [readOnly]="readOnlyValue" (valueChange)="onConditionRequiredChange($event)"
                        hint="Should contain characters from X of the following four categories">
                    </dx-radio-group>
                </div>
            </div>

            <div class="dx-field m-1 mt-3">
                <dx-check-box class="" [value]="isNumberChecked" text="Numbers" [readOnly]="readOnlyValue"
                    hint="Minimum 1 Numbers [0-9] required"></dx-check-box>
            </div>

            <div class="dx-field m-1">
                <dx-check-box class="" [value]="isUppercaseChecked" text="Uppercase Characters"
                    [readOnly]="readOnlyValue" hint="Minimum 1 Uppercase characters required"></dx-check-box>
            </div>

            <div class="dx-field m-1">
                <dx-check-box class="" [value]="isLowercaseChecked" text="Lowercase Characters"
                    [readOnly]="readOnlyValue" hint="Minimum 1 Lowercase characters required"></dx-check-box>
            </div>

            <div class="dx-field m-1">
                <dx-check-box class="" [value]="isSpecialCharactersChecked" text="Special Characters"
                    [readOnly]="readOnlyValue" hint="Minimum 1 Special characters required"></dx-check-box>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center mt-3 p-1">

        <div class="leftDiv BorderBox me-2">
            <div class="headingText">Sent OTP on Password Change</div>
            <div class="dx-field m-1 mt-4 items">
                <dx-check-box class="" [value]="emailOtp"
                    text="E-mail (e-mail OTP verification  on forgot/change password)"
                    hint="OTP Email On Password Change"></dx-check-box>
            </div>

            <div class="dx-field m-1 mt-4  items">
                <dx-check-box class="" [value]="smsOtp" text="SMS (SMS OTP verification  on forgot/change password)"
                    hint="OTP SMS On Password Change"></dx-check-box>
            </div>

            <div class="dx-field m-1 mt-4 ">
                <dx-check-box class="" [value]="whatsAppOtp"
                    text="WhatsApp (WhatsApp OTP verification  on forgot/change password)"
                    hint="WhatsApp OTP On Password Change"></dx-check-box>
            </div>
        </div>

        <div class="rightDiv BorderBox">
            <div class="headingText">Sent Alert on Password Change</div>
            <div class="dx-field m-1 mt-3">
                <dx-check-box class="" [value]="emailAlert"
                    text="Email (Email alert on successful pasword change)"></dx-check-box>
            </div>

            <div class="dx-field m-1 mt-4 ">
                <dx-check-box class="" [value]="smsAlert"
                    text="SMS (SMS alert on successful pasword change)"></dx-check-box>
            </div>

            <div class="dx-field m-1 mt-4 ">
                <dx-check-box class="" [value]="whatsAppAlert"
                    text="WhatsApp (WhatsApp alert on successful pasword change)"></dx-check-box>
            </div>
        </div>

    </div>

    <div class="d-flex align-items-center mt-3 p-1">

        <div class="leftDiv BorderBox me-2">
            <div class="headingText ">Account Lock</div>
            <div class="mt-3 items">
                <dx-number-box [value]="LoginAttempts" labelMode="floating" labelLocation="left"
                    label="Number Of Login Attempts" [width]="'75%'"
                    hint="The user account must be locked out after consecutive N invalid logins attempts.">
                </dx-number-box>
            </div>

            <div class="mt-3  items">
                <dx-number-box [value]="resetDuration" labelMode="floating" labelLocation="left"
                    label="Lock Reset Duration" [width]="'75%'"
                    hint="The Account lockout counter must reset after n minutes">
                </dx-number-box>
            </div>

            <div class="mt-3 items">
                <dx-number-box [value]="failedLoginDuration" labelMode="floating" labelLocation="left"
                    label="Failed Login Check Duration" [width]="'75%'">
                </dx-number-box>
            </div>
        </div>

        <div class="rightDiv BorderBox">
            <div class="headingText">General</div>
            <div class="dx-field m-1 mt-3">
                <dx-check-box class="" [value]="changePasswordOnLogin" text="Change Password On Login"></dx-check-box>
            </div>

            <div class="mt-3 items">
                <dx-number-box [value]="passwordExpiryDaysCount" labelMode="floating" labelLocation="left"
                    label="How many days until the password expires?" [width]="'75%'">
                </dx-number-box>
            </div>

            <div class="mt-3  items">
                <dx-number-box [value]="passwordRepeatCycle" labelMode="floating" labelLocation="left"
                    label="Password Repeat Cycle" [width]="'75%'">
                </dx-number-box>
            </div>
        </div>
    </div>


    <div class="BorderBox  me-2 mt-4">
        <div class="headingText ">Others</div>
        <div class="MessageDiv dx-field mt-3">
            <div class="dx-field-label custom-label">Unautherized Banner Message</div>
            <div class="dx-field-value custom-value ">
                <dx-text-box value="unautherizedMessage"></dx-text-box>
            </div>
        </div>

        <div class="mt-3 ">
            <dx-number-box [value]="disableUser" labelMode="floating" labelLocation="left" label="Disable User On"
                [width]="'75%'" hint="Enter the number of days to disable the user after inactivity">
            </dx-number-box>
        </div>
    </div>
</div>
