<div class="view-wrapper list-page">
  <div class="paramsDiv">
    <dx-toolbar
      class="theme-dependent mainDiv d-flex flex-wrap align-items-start flex-md-row flex-column"
      [visible]="isParamsOpend"
    >
      <dxi-item location="before" class="flex-grow-1">
        <div class="dx-fieldset-header FieldHeader">Search On</div>
        <div class="dx-field flex-grow-1 form-control-sm">
          <dx-lookup
            [items]="SearchOn_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="SearchOn_Value"
            placeholder="select searchOn value"
            [width]="'auto'"
          >
            <dxo-drop-down-options
              [showTitle]="false"
              [width]="'auto'"
            ></dxo-drop-down-options>
          </dx-lookup>
        </div>
      </dxi-item>

      <dxi-item location="before" class="flex-grow-1 ms-3">
        <div class="dx-fieldset-header FieldHeader">Facility</div>
        <div class="dx-field flex-grow-1 form-control-sm">
          <dx-lookup
            [items]="Facility_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="Facility_Value"
            placeholder="select facility value"
          >
            <dxo-drop-down-options
              [showTitle]="false"
              [width]="'auto'"
            ></dxo-drop-down-options>
          </dx-lookup>
        </div>
      </dxi-item>

      <dxi-item location="before" class="flex-grow-1 ms-3">
        <div class="dx-fieldset-header FieldHeader">Encounter Type</div>
        <div class="dx-field flex-grow-1">
          <dx-lookup
            [items]="EncounterType_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="EncounterType_Value"
            placeholder="select encounter Type value"
          >
            <dxo-drop-down-options
              [showTitle]="false"
              [width]="'auto'"
            ></dxo-drop-down-options>
          </dx-lookup>
        </div>
      </dxi-item>

      <dxi-item location="before" class="flex-grow-1 ms-3">
        <div class="dx-fieldset-header FieldHeader">From Date</div>
        <dx-date-box
          type="date"
          displayFormat="dd/MM/yyyy"
          valueFormat="yyyy/MM/dd"
          placeholder="From Date"
          [(value)]="From_Date_Value"
          [min]="minDate"
          [max]="maxDate"
        >
        </dx-date-box>
      </dxi-item>

      <dxi-item location="before" class="flex-grow-1 ms-3">
        <div class="dx-fieldset-header FieldHeader">To Date</div>
        <dx-date-box
          type="date"
          displayFormat="dd/MM/yyyy"
          valueFormat="yyyy/MM/dd"
          placeholder="To Date"
          [(value)]="To_Date_Value"
          [min]="minDate"
          [max]="maxDate"
        >
        </dx-date-box>
      </dxi-item>

      <dxi-item location="after" locateInMenu="auto" class="applyDiv">
        <dx-button
          class="add-card"
          icon="todo"
          text="Apply"
          type="default"
          stylingMode="contained"
          (onClick)="get_Report_DataSource()"
        >
        </dx-button>
      </dxi-item>
    </dx-toolbar>
  </div>

  <dx-data-grid
    class="grid theme-dependent"
    height="100%"
    noDataText=" "
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [columnFixing]="{ enabled: true }"
    rowAlternationInterval="2"
    (onExporting)="onExporting($event)"
    style="width: auto; overflow-x: auto"
    [filterRow]="{ visible: false }"
    [headerFilter]="{ visible: false }"

  >
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
    <!-- <dxo-column-location location="before" colIndex="0"></dxo-column-location> -->
    <dxo-search-panel [visible]="true" placeholder="Search" ></dxo-search-panel>

    <dxo-filter-row
      [visible]="isFilterOpened"
      [applyFilter]="applyFilter"
    ></dxo-filter-row>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Claim Summary Reports</div>
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: '',
          icon: 'filter',
          onClick: show_Parameter_Div,
          title: 'Show Filtering Options'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text',
          title: 'Refresh'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: '',
          icon: 'find',
          onClick: filterClick,
          title: 'Search Column'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: '',
          icon: 'formula',
          onClick: SummaryClick,
          title: 'Summary'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <!-- <dxi-item location="after" locateInMenu="auto"> </dxi-item> -->
      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>

    <dxo-grouping
      [autoExpandAll]="false"
      [contextMenuEnabled]="true"
      [expandMode]="'rowClick'"
    ></dxo-grouping>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <div>
      <dxo-summary summaryText="Total" *ngIf="isSummaryOpened">
        <dxi-total-item
          column="ClaimedAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="RemittedAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          text="''"
        >
        </dxi-total-item>
        <dxi-total-item
          column="RejectedAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="PaidAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="BalanceAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="ResubmittedAmt"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2, }"
        >
        </dxi-total-item>
      </dxo-summary>
    </div>
  </dx-data-grid>
</div>
