@use "../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 72px;

  width: 100%;
  display: contents;
}

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  padding: 0 15px;

  .grid {
    .name-template {
      .position {
        font-size: 10px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
        height: 5px;
      }
    }

    .grid-header {
      @include header();
    }
    .dxo-filter-row {
      height: 5px;
      padding: 0;
      margin: 0;
    }
  }

  user-panel {
    display: inherit;
  }
}
