<div class="view-wrapper list-page">
  <div class="paramsDiv">
    <dx-toolbar class="theme-dependent mainDiv" [visible]="Params">
      <dxi-item location="before" class="" >
        <div class="dx-fieldset-header FieldHeader">Search On</div>
        <div class="dx-field">
          <dx-lookup
            [items]="SearchOn_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="SearchOn_Value"
          >
            <dxo-drop-down-options
              [showTitle]="false"
              class=""
            ></dxo-drop-down-options>
          </dx-lookup>
        </div>
      </dxi-item>

      <dxi-item location="before" class=" " >
        <div class="dx-fieldset-header FieldHeader">Facility</div>
        <div class="dx-field">
          <dx-lookup
            [items]="Facility_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="Facility_Value"
          >
            <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
          </dx-lookup>
        </div>
      </dxi-item>

      <dxi-item location="before" class="" >
        <div class="dx-fieldset-header FieldHeader">Encounter Type</div>
        <div class="dx-field">
          <dx-lookup
            [items]="EncounterType_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="EncounterType_Value"
          >
            <dxo-drop-down-options [showTitle]="false"></dxo-drop-down-options>
          </dx-lookup>
        </div>
      </dxi-item>

      <dxi-item location="before" class="" >
        <div class="dx-fieldset-header FieldHeader">From Date</div>
        <dx-date-box
          applyValueMode="useButtons"
          displayFormat="dd/MM/yyyy"
          valueFormat="yyyy-MM-dd"
          placeholder="From Date"
          [(value)]="From_Date_Value"
        >
        </dx-date-box>
      </dxi-item>

      <dxi-item location="before" class="" >
        <div class="dx-fieldset-header FieldHeader">To Date</div>
        <dx-date-box
          applyValueMode="useButtons"
          displayFormat="dd/MM/yyyy"
          valueFormat="yyyy-MM-dd"
          placeholder="To Date"
          [(value)]="To_Date_Value"
        >
        </dx-date-box>
      </dxi-item>

      <dxi-item location="after" locateInMenu="auto" class="applyDiv">
        <dx-button
          class="add-card"
          icon="todo"
          text="Apply"
          type="default"
          stylingMode="contained"
          (onClick)="Fetch_Report_DataSource()"
        >
        </dx-button>
      </dxi-item>
    </dx-toolbar>
  </div>

  <dx-button
    class="ToggleButton"
    stylingMode="contained"
    icon="spindown"
    type="normal"
    (onClick)="show_Parameter_Div()"
  >
  </dx-button>

  <dx-data-grid
    class="grid theme-dependent"
    height="100%"
    [dataSource]="dataSource"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    rowAlternationInterval="2"
    (onExporting)="onExporting($event)"
    style="width: auto; overflow-x: auto"
  >
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [visible]="true"
      [allowedPageSizes]="allowedPageSizes"
      [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector"
      [showInfo]="showInfo"
      [showNavigationButtons]="showNavButtons"
    >
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
    <!-- <dxo-column-location location="before" colIndex="0"></dxo-column-location> -->
    <!-- <dxo-search-panel [visible]="true" placeholder="Search" (onKeyDown)="onSearchKeydown($event)"></dxo-search-panel> -->
    <dxo-filter-row
      [visible]="isFilterOpened"
      [applyFilter]="applyFilter"
    ></dxo-filter-row>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Claim Summary Reports</div>
      </dxi-item>
      <dxi-item
        location="after"
        locateInMenu="auto"
        showText="inMenu"
        widget="dxButton"
        [options]="{
          text: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: 'Filter',
          icon: 'filter',
          onClick: filterClick,
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="{
          text: 'summary',
          icon: 'formula',
          onClick: SummaryClick,
        }"
      ></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <div *ngIf="isSummaryOpened">
      <dxo-summary>
        <dxi-total-item
          column="ClaimedAmount"
          summaryType="sum"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="RemittedAmount"
          summaryType="sum"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="RejectedAmount"
          summaryType="sum"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="PaidAmount"
          summaryType="sum"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="BalanceAmount"
          summaryType="sum"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
        <dxi-total-item
          column="ResubmittedAmt"
          summaryType="sum"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
        >
        </dxi-total-item>
      </dxo-summary>
    </div>
  </dx-data-grid>
</div>
