body {
    display: flex;
    height: 100vh;           /* Full viewport height */
    background-color: #f5f5f5; /* Light background for contrast */
    margin: 0;               /* Remove default margin */
  }
  
  .card.Main {
    width: 400px; /* Fixed width for consistent appearance */
    background-color: white; /* Background color for the card */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Inner padding */
    margin-left: 35%;
    margin-top: 5%;
    
  }
  
  .header h5 {
    margin: 0; /* Remove margin for the heading */
    font-size: 20px; /* Increase font size */
    
    color: #333; /* Darker text for better readability */
    padding-bottom: 15px; /* Spacing below the heading */
    border-bottom: 1px solid #eee; /* Subtle bottom border for separation */
  }
  
  body {
    display: flex;                  /* Use Flexbox for centering */
    justify-content: center;        /* Center horizontally */
    align-items: center;            /* Center vertically */
    height: 100vh;                  /* Full viewport height */
    background-color: #f5f5f5;      /* Light background for contrast */
    margin: 0;                      /* Remove default margin */
  }
  
  .form-popup-buttons-container {
    display: flex; /* Flexbox for button alignment */
    justify-content: space-between; /* Space between buttons */
    margin-top: 30px; /* Space above the buttons */
  }
  
  .dx-text-box {
    width: 100%; /* Ensure text boxes are full width */
  }
  
  .dx-button {
    width: 48%; /* Buttons take up equal width */
  }

  .password-policy {
    margin-top: 10px;
  
    div {
      font-size: 12px;
      padding: 5px 0;
    }
  
    .invalid {
      color: red;
    }
  
    .valid {
      color: green;
    }
  }
  
  