<div class="card Main">
    <div class="header">
      <h5>Change Password</h5>
    </div>
    <dx-validation-group #validationGroup>
    <div class="body">
      <dx-text-box
        label="Current Password"
        hint="Current Password"
        [(value)]="oldPassword"
        [mode]="'password'"
        (keydown)="onOldPasswordValueChanged($event)"   
        [style.border]="oldPasswordBorderColor"
      >
      <dx-validator>
        <dxi-validation-rule
          type="required"
          message="Password is required"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="custom"
          [validationCallback]="validateOldPassword"
      ></dxi-validation-rule>
      </dx-validator>
      </dx-text-box>
      <dx-text-box
        label="New Password"
        hint="New Password"
        [(value)]="newPassword"
        [mode]="'password'"
        (keydown)="onPasswordKeyDown($event)"
        [maxLength]="20"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="New Password is required"
          ></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>

      <dx-text-box
        label="Confirm Password"
        hint="Confirm Password"
        [mode]="'password'"
        [(value)]="confirmPassword"
        (keydown)="onConfirmPasswordKeyDown($event)"
        [style.border]="confirmPasswordBorderColor"
        [maxLength]="20"
      >
        <dx-validator>
          <dxi-validation-rule
            type="required"
            message="Confirm Password is required"
          ></dxi-validation-rule>
          <dxi-validation-rule
            type="custom"
            [validationCallback]="validatePasswordMatch"
            message="Passwords do not match"
          ></dxi-validation-rule>
        </dx-validator>
        
      </dx-text-box>
  
      <!-- Password Security Policies -->
      <div *ngIf="securityPolicyData" class="password-policy">
        <!-- Show if Numbers is true -->
        <div *ngIf="securityPolicyData.Numbers" [ngClass]="{ 'invalid': !checkNumbers(), 'valid': checkNumbers() }">
          Must contain a number
        </div>
      
        <!-- Show if UppercaseCharacters is true -->
        <div *ngIf="securityPolicyData.UppercaseCharacters" [ngClass]="{ 'invalid': !checkUppercase(), 'valid': checkUppercase() }">
          Must contain an uppercase letter
        </div>
      
        <!-- Show if LowercaseCharacters is true -->
        <div *ngIf="securityPolicyData.LowercaseCharacters" [ngClass]="{ 'invalid': !checkLowercase(), 'valid': checkLowercase() }">
          Must contain a lowercase letter
        </div>
      
        <!-- Show if SpecialCharacters is true -->
        <div *ngIf="securityPolicyData.SpecialCharacters" [ngClass]="{ 'invalid': !checkSpecialCharacters(), 'valid': checkSpecialCharacters() }">
          Must contain a special character
        </div>
      
        <!-- Show if MinimumLength is defined and greater than 0 -->
        <div *ngIf="securityPolicyData.MinimumLength > 0" [ngClass]="{ 'invalid': !checkMinimumLength(), 'valid': checkMinimumLength() }">
          Must be at least {{ securityPolicyData.MinimumLength }} characters long
        </div>
      </div>
    </div>
  
    <div class="form-popup-buttons-container">
      <dx-button text="Cancel" stylingMode="outlined" type="normal"></dx-button>
      <dx-button text="Save" stylingMode="contained" type="default" (click)="saveNewPassword()"></dx-button>
    </div>
  </dx-validation-group>
  </div>
  
  