@use "../../../variables.scss" as *;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}
.layout-body {
  flex: 1;
  min-height: 0;
  background-color: var(--background-color);
}
.tabPanelDiv{
  height: 93vh;
}
.tabItems{
  height: 25px;
  border-top-left-radius: 7px; /* Radius for the top-left corner */
  border-top-right-radius: 7px; /* Radius for the top-right corner */
  padding: 0px;
  margin: 0px;
}
.tabItems:hover{
  cursor: pointer;
  background-color: rgb(49, 149, 211);

}
.tabSubItems{
  width: auto;
}

// ========================================================================================================
