<app-header
  class="layout-header"
  [menuToggleEnabled]="true"
  (menuToggle)="menuOpened = !menuOpened"
  [title]="appInfo.title"
></app-header>

<dx-drawer
  class="layout-body"
  position="before"
  [closeOnOutsideClick]="shaderEnabled"
  [openedStateMode]="menuMode"
  [revealMode]="menuRevealMode"
  [minSize]="minMenuSize"
  [shading]="shaderEnabled"
  [(opened)]="menuOpened"
>
  <side-navigation-menu
    [compactMode]="menuOpened"
    [selectedItem]="selectedRoute"
    class="dx-swatch-additional"
    *dxTemplate="let dataMenu of 'panel'"
    (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()"

  >
    <!-- <app-footer
      >Project-X @ {{ appInfo.currentYear }} <br />
      Developer : Nithin Azentia</app-footer
    > -->
  </side-navigation-menu>

  <!-- <div class="content">
    <router-outlet></router-outlet>
  </div> -->
   <!-- Content Area -->
   <div class="content">
    <dx-sortable
      filter=".dx-tab"
      [data]="tabs"
      itemOrientation="horizontal"
      dragDirection="horizontal"
      (onDragStart)="onTabDragStart($event)"
      (onReorder)="onTabDrop($event)"
    >
   
      <dx-tab-panel class="tabPanelDiv"
        [dataSource]="tabs"
        itemTitleTemplate="title"
        itemTemplate="item"
        [deferRendering]="false"
        [showNavButtons]="true"
        [repaintChangesOnly]="true"
        [selectedIndex]="selectedIndex"
      >
        <div class="tabItems" *dxTemplate="let tab of 'title'" (click)="TabItemClick(tab)">
          <span>{{ tab.title }}</span>
          <i
            *ngIf="showCloseButton()"
            class="dx-icon dx-icon-close"
            (click)="closeButtonHandler(tab)"
          ></i>
        </div>
        <div *dxTemplate="let tab of 'item'">
          <ng-container *ngIf="selectedIndex === tabs.indexOf(tab)">
            <router-outlet></router-outlet>
          </ng-container>
        </div>
       
      </dx-tab-panel>
   
    </dx-sortable>
  </div>
</dx-drawer>
