@use "../../../variables.scss" as *;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}
.layout-body {
  flex: 1;
  min-height: 0;
  background-color: var(--background-color);
}


.tabPanelDiv {
  height: 93vh;
}
.tabItems {
  width: 200px;
  height: 30px;
  border-radius: 8px; /* Radius for the top-left corner */
  // border-top-right-radius: 7px; /* Radius for the top-right corner */
  padding-left: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabItems:hover {
  cursor: pointer;
  background-color: rgb(49, 149, 211);
}
.tabSubItems {
  // width: auto;
  height: 100%;
  flex-grow: 1;
}
.close-icon {
  margin-left: auto;
}
.close-icon:hover {
  color: aliceblue;
}

// ========================================================================================================
