@use "../../../variables.scss" as *;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}
.layout-body {
  flex: 1;
  min-height: 0;
  background-color: var(--background-color);
}
.tabPanelDiv{
  height: 93vh;
}
.tabItems{
  height: 25px;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
  background-color: rgba(153, 153, 153, 0.361);
 
}
