<div class="view-wrapper list-page">
  <dx-data-grid class="grid theme-dependent" noDataText="" height="600" [dataSource]="dataSource" [showBorders]="true"
    [allowColumnResizing]="true" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
    rowAlternationInterval="2" (onExporting)="onExporting($event)" (onRowRemoving)="onRowRemoving($event)"
    (onRowUpdating)="onRowUpdating($event)" height="84vh">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
      <dxo-popup title="Edit Speciality" [showTitle]="true" width="40%" height="60vh">
      </dxo-popup>
    </dxo-editing>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-chooser [enabled]="true" [height]="400"></dxo-column-chooser>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export [enabled]="true" [allowExportSelectedData]="true" [formats]="['xlsx', 'pdf']">
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">Speciality</div>
      </dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <dx-button text="Add " icon="plus" type="default" stylingMode="contained"
          (onClick)="show_new_Form()"></dx-button>
      </dxi-item>
      <dxi-item location="after" locateInMenu="auto" showText="inMenu" widget="dxButton" [options]="{
          text: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <!-- <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item> -->
      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>

    <dxo-selection mode="multiple"></dxo-selection>
    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxi-column dataField="SpecialityCode" caption="Speciality Code"></dxi-column>
    <dxi-column dataField="SpecialityName" Caption="Speciality Name"></dxi-column>
    <dxi-column dataField="SpecialityShortName" Caption="Speciality ShortName"></dxi-column>
    <dxi-column dataField="Description" Caption="Description"></dxi-column>
  </dx-data-grid>
  <form-popup class="formPopupClass" [(visible)]="isAddFormPopupOpened" (save)="onClickSaveNewData()"
    titleText="New Insurance" height="70vh">
    <app-speciality-new-form></app-speciality-new-form>
  </form-popup>
</div>