@use "../../../../variables.scss" as *;

:host {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
.loginMainDiv {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(177, 171, 171, 0.5)
  ), url("../../../../assets/health-still-life-with-copy-space.jpg");
 /* White color with 50% opacity */
  background-size: cover;
  background-position: center;
}

.auth-card {
  display: flex;
  flex-grow: 2;


  ::ng-deep .dx-button-text {
    text-transform: none;
  }

  .dx-card {
    margin: auto auto;
    margin-right: 150px;
    padding: 24px;
    flex-grow: 0;
    max-width: 450px;
    // width: 500px;
    height: 80%;
    border-radius: 8px;

    &.content {
      height: auto;
      // height: 70vh;
      // width: 25%;
    }

    :host-context(.screen-x-small) & {
      width: 100%;
      height: 100%;
      max-width: 100%;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      border: 0;
      flex-grow: 1;
    }

    .header {
      margin-bottom: 24px;
      margin-top: 24px;

      .title {
        color: var(--base-text-color);
        text-align: center;
        line-height: 24px;
        font-weight: 500;
        font-size: 24px;
      }

      .description {
        color: var(--base-text-color-alpha);
        line-height: 16px;
        font-size: 12px;
        margin-top: 32px;
        text-align: center;
      }
    }
  }
}
