<dx-form class="plain-styled-form">
    <dxi-item itemType="group">
        <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="1"></dxo-col-count-by-screen>

        <dxi-item>
            <div *dxTemplate>
                <form-textbox label="Insurance ID" [(value)]="newInsuranceData.InsuranceID" [isEditing]="true">
                </form-textbox>
            </div>
        </dxi-item>

        <dxi-item>
            <div *dxTemplate>
                <form-textbox label="Insurance Name" [(value)]="newInsuranceData.InsuranceName" [isEditing]="true">
                </form-textbox>
            </div>
        </dxi-item>

        <dxi-item>
            <div *dxTemplate>
                <form-textbox label="Insurance ShortName" [(value)]="newInsuranceData.InsuranceShortName"
                    [isEditing]="true">
                </form-textbox>
            </div>
        </dxi-item>
    </dxi-item>
</dx-form>