@use "../../../../variables.scss" as *;

// .reset-password-form {
//   ::ng-deep .submit-button {
//     margin-top: 18px;
//   }

//   a {
//     cursor: pointer;
//   }

//   .login-link {
//     color: var(--accent-color);
//     font-size: 12px;
//     text-align: center;
//     margin-top: 6px;
//   }
// }


 


.reset-password-form {
  transition: height 0.3s ease;
  width: 400px;  /* Maximum width for the form */
  padding: 10px;     /* Padding around the content */
  background-color: #ffffff; /* Background color of the form */
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */


  .dx-text-box {
    width: 100%; /* Full width for input elements */
  }

  .dx-button {
    width: 100%; /* Full width for buttons */
    margin-top: 10px; /* Space between buttons */
  }

  .otp-section {
    margin-top: 20px; /* Extra spacing for OTP input section */
  }
  .otp-container {
    display: flex;
    flex-direction: column;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: center;
  }
  
  .otp-input {
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

/* Additional styling for better user experience */
::ng-deep .dx-button {
  height: 40px; /* Consistent button height */
  font-size: 16px; /* Larger font size for better readability */
}

::ng-deep .dx-textbox-wrapper {
  border-color: #d1d1d1; /* Lighter border for input fields */
}
.header{
  margin-bottom: 50px;
}
