<div class="view-wrapper list-page">
  <dx-data-grid class="grid theme-dependent" noDataText="no data" height="600" [dataSource]="dataSource"
    [showBorders]="true" [allowColumnResizing]="true" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
    rowAlternationInterval="2" (onExporting)="onExporting($event)" (onRowRemoving)="onRowRemoving($event)"
    (onEditingStart)="onEditingStart($event)" height="84vh">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
    </dxo-editing>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
    </dxo-pager>
    <dxo-load-panel [showPane]="false"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-column-chooser [enabled]="true" [height]="400"></dxo-column-chooser>
    <dxo-search-panel [visible]="true" placeholder=" Search"></dxo-search-panel>
    <dxo-export [enabled]="true" [allowExportSelectedData]="true" [formats]="['xlsx', 'pdf']">
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">User Role</div>
      </dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <dx-button text="Add " icon="plus" type="default" stylingMode="contained"
          (onClick)="show_new_Form()"></dx-button>
      </dxi-item>
      <dxi-item location="after" locateInMenu="auto" showText="inMenu" widget="dxButton" [options]="{
          text: 'Refresh',
          icon: 'refresh',
          onClick: refresh,
          stylingMode: 'text'
        }"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <div class="separator"></div>
      </dxi-item>

      <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
    </dxo-toolbar>


    <dxo-header-filter [visible]="true">
      <dxo-search [enabled]="true"></dxo-search>
    </dxo-header-filter>

    <dxi-column dataField="UserRoles" caption="User Role"></dxi-column>
    <dxi-column dataField="LastModifiedTime" Caption="Last Modified Time"
      [calculateCellValue]="formatLastModifiedTime"></dxi-column>

  </dx-data-grid>
  <form-popup class="formPopupClass m-2" [(visible)]="isAddFormVisible" titleText="New User Role" [height]="'100vh'"
    [width]="popup_width" (save)="onClickSaveNewData()" (onHiding)="onPopupClose()">
    <app-user-level-new-form [sharedValue]="isAddFormVisible"></app-user-level-new-form>
  </form-popup>
  <form-popup class="formPopupClass m-2" [(visible)]="iseditFormVisible" titleText="Edit User Role" [height]="'100vh'"
    [width]="popup_width" (save)="onRowUpdating()" (onHiding)="onEditPopupClose()">
    <app-user-level-edit-form [editValue]="clickedRowData"></app-user-level-edit-form>
  </form-popup>
</div>
