<dx-form class="plain-styled-form">
  <dxi-item itemType="group">
    <dxo-col-count-by-screen
      [xs]="1"
      [sm]="1"
      [md]="1"
      [lg]="1"
    ></dxo-col-count-by-screen>

    <dxi-item>
      <div *dxTemplate>
        <form-textbox
          label="Facility Group"
          [(value)]="newFacilityGroupData.FacilityGroupValue"
          [isEditing]="true"
        >
        </form-textbox>
      </div>
    </dxi-item>

    <!-- <dxi-item>
      <div *dxTemplate>
        <div>TYPE</div>
        <dx-select-box
          class="inputBox"
          [items]="facilityGroupDatasource"
          displayExpr="DESCRIPTION"
          valueExpr="ID"
          placeholder="Select a type"
          [(value)]="newFacilityGroupData.FacilityGroupValue"
        ></dx-select-box>
      </div>
    </dxi-item> -->

    <dxi-item height="30px">
      <div *dxTemplate>
        <dx-text-area
          label="Description"
          [(value)]="newFacilityGroupData.DescriptionValue"
          [height]="100"
          [width]="'100%'"
          [maxHeight]="200"
          [minHeight]="50"
          [autoResizeEnabled]="true">
        </dx-text-area>
      </div>
    </dxi-item>

  </dxi-item>
</dx-form>
