<div class="view-wrapper list-page">
  <!-- //================================Serach Parameters started============================= -->

  <div *ngIf="isParamsOpend" class="paramsDiv">
    <dx-form class="theme-dependent searchparamsForm" [visible]="isParamsOpend">
      <dxi-item
        itemType="group"
        cssClass="form-group"
        class="rowGroup"
        [colCount]="8"
        [colCountByScreen]="{ xs: 8, sm: 8, md: 8, lg: 8 }"
      >
        <dxi-item [colSpan]="8">
          <div class="">Facility</div>
          <div class="">
            <dx-tag-box
              [(value)]="Facility_Value"
              valueExpr="Code"
              displayExpr="Name"
              placeholder="Select Facility value"
              [showClearButton]="true"
              [multiline]="false"
              [searchEnabled]="true"
              [searchExpr]="['Name', 'Code']"
              [dataSource]="Facility_DataSource"
              [showSelectionControls]="true"
              [applyValueMode]="'instantly'"
              (onValueChanged)="onDropDownBoxValueChanged()"
              [dropDownOptions]="{ width: 'auto' }"
            >
              <dx-validator>
                <dxi-validation-rule
                  type="required"
                  message="Facility is required"
                ></dxi-validation-rule>
              </dx-validator>
            </dx-tag-box>
          </div>
        </dxi-item>
      </dxi-item>

      <dxi-item
        itemType="group"
        cssClass="form-group"
        [colCount]="8"
        [colCountByScreen]="{ xs: 8, sm: 8, md: 8, lg: 8 }"
      >
        <dxi-item [colSpan]="2">
          <div class="">Search On</div>
          <div>
            <dx-select-box
              [dataSource]="SearchOn_DataSource"
              displayExpr="Name"
              valueExpr="ID"
              [(value)]="SearchOn_Value"
              [searchEnabled]="true"
              placeholder="select searchOn value"
              required
              (valueChanged)="onDropdownValueChanged()"
              [dropDownOptions]="{ width: 'auto' }"
            >
              <dxi-validation-rule
                type="required"
                message="Country is required"
              >
              </dxi-validation-rule>
            </dx-select-box>
          </div>
        </dxi-item>

        <dxi-item [colSpan]="1">
          <div class="">Year</div>
          <dx-select-box
            [(value)]="selectedYear"
            [dataSource]="years"
            (onValueChanged)="onYearChanged($event)"
            placeholder="Year"
            [width]="'auto'"
          ></dx-select-box>
        </dxi-item>

        <dxi-item [colSpan]="1">
          <div class="">Month</div>
          <div>
            <dx-select-box
              [dataSource]="monthDataSource"
              displayExpr="name"
              valueExpr="value"
              [(value)]="selectedmonth"
              placeholder="Month"
              required
              (onValueChanged)="onMonthValueChanged($event)"
              [dropDownOptions]="{ width: 'auto' }"
            >
            </dx-select-box>
          </div>
        </dxi-item>

        <dxi-item [colSpan]="2">
          <div class="">From Date</div>
          <dx-date-box
            type="date"
            displayFormat="dd/MM/yyyy"
            valueFormat="yyyy/MM/dd"
            placeholder="From Date"
            [(value)]="From_Date_Value"
            [min]="minDate"
            [max]="maxDate"
          >
          </dx-date-box>
        </dxi-item>

        <dxi-item [colSpan]="2">
          <div class="">To Date</div>
          <dx-date-box
            type="date"
            displayFormat="dd/MM/yyyy"
            valueFormat="yyyy/MM/dd"
            placeholder="To Date"
            [(value)]="To_Date_Value"
            [min]="minDate"
            [max]="maxDate"
          >
          </dx-date-box>
        </dxi-item>
      </dxi-item>

      <dxi-item
        itemType="group"
        cssClass="form-group"
        [colCount]="8"
        [colCountByScreen]="{ xs: 8, sm: 8, md: 8, lg: 8 }"
      >
        <dxi-item [colSpan]="2">
          <div class="">Receiver ID</div>
          <dx-tag-box
            [dataSource]="RecieverID_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="ReceiverID_Value"
            [searchEnabled]="true"
            [searchExpr]="['Name', 'ID']"
            [multiline]="false"
            [applyValueMode]="'instantly'"
            placeholder="select receiver"
            [dropDownOptions]="{ width: 'auto' }"
            required
          >
          </dx-tag-box>
        </dxi-item>

        <dxi-item [colSpan]="2">
          <div class="">Payer ID</div>
          <dx-tag-box
            [dataSource]="PayerID_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="PayerID_Value"
            [searchEnabled]="true"
            [searchExpr]="['Name', 'ID']"
            [multiline]="false"
            [applyValueMode]="'instantly'"
            placeholder="select payer ID"
            required
            (valueChanged)="onDropdownValueChanged()"
            [dropDownOptions]="{ width: 'auto' }"
          >
          </dx-tag-box>
        </dxi-item>

        <dxi-item [colSpan]="2">
          <div class="">Payer</div>
          <dx-tag-box
            [dataSource]="Payer_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="Payer_Value"
            [searchEnabled]="true"
            [searchExpr]="['Name', 'ID']"
            [multiline]="false"
            [applyValueMode]="'instantly'"
            placeholder="select payer"
            required
            (valueChanged)="onDropdownValueChanged()"
          >
          </dx-tag-box>
        </dxi-item>

        <dxi-item [colSpan]="2">
          <div class="">As On Date</div>
          <dx-date-box
            type="date"
            displayFormat="dd/MM/yyyy"
            valueFormat="yyyy/MM/dd"
            placeholder=""
            [(value)]="AsOnDate"
            [min]="minDate"
            [max]="maxDate"
          >
          </dx-date-box>
        </dxi-item>
      </dxi-item>

      <dxi-item
        itemType="group"
        cssClass="form-group"
        [colCount]="9"
        [colCountByScreen]="{ xs: 9, sm: 9, md: 9, lg: 9 }"
      >
        <dxi-item [colSpan]="2">
          <div class="">Clinican</div>
          <dx-tag-box
            [dataSource]="Clinician_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="Clinician_Value"
            [searchEnabled]="true"
            [searchExpr]="['Name', 'ID']"
            [multiline]="false"
            [applyValueMode]="'instantly'"
            placeholder="select Clinician"
            required
            (valueChanged)="onDropdownValueChanged()"
            [dropDownOptions]="{ width: 'auto' }"
          >
          </dx-tag-box>
        </dxi-item>

        <dxi-item [colSpan]="2">
          <div class="">Ordering Clinician</div>
          <dx-tag-box
            [dataSource]="OrderingClinician_DataSource"
            displayExpr="Name"
            valueExpr="ID"
            [(value)]="OrderingClinician_Value"
            [searchEnabled]="true"
            [searchExpr]="['Name', 'ID']"
            [multiline]="false"
            [applyValueMode]="'instantly'"
            placeholder="select Clinician"
            required
            (valueChanged)="onDropdownValueChanged()"
            [dropDownOptions]="{ width: 'auto' }"
          >
          </dx-tag-box>
        </dxi-item>

        <dxi-item [colSpan]="2">
          <div class="">Encounter Type</div>
          <div>
            <dx-select-box
              [dataSource]="EncounterType_DataSource"
              displayExpr="Name"
              valueExpr="ID"
              [(value)]="EncounterType_Value"
              [searchEnabled]="true"
              placeholder="select encounter Type value"
              (valueChanged)="onDropdownValueChanged()"
            >
            </dx-select-box>
          </div>
        </dxi-item>

        <dxi-item [colSpan]="1" class="mt-3">
          <!-- <div class="">based on initial net amount</div> -->
          <div>
            <dx-check-box
              [value]="initial_net_amount"
              text="based on initial net amount"
            ></dx-check-box>
          </div>
        </dxi-item>

        <dxi-item [colSpan]="1" class="importItem mt-3 ms-3">
          <dx-button
            class="add-card"
            icon="download"
            text=""
            type="default"
            stylingMode="contained"
            (onClick)="get_advance_Filter()"
          >
          </dx-button>
        </dxi-item>

        <dxi-item [colSpan]="1" class="mt-3 ms-1">
          <dx-button
            class="add-card"
            icon="todo"
            text="Apply"
            type="default"
            stylingMode="contained"
            (onClick)="get_Report_DataSource()"
          >
          </dx-button>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>

  <!-- //================================Serach Parameters end============================= -->
  <!-- ====================================Data GRid Table started================================ -->
  <ng-container>
    <dx-data-grid
      id="main-grid"
      class="grid theme-dependent"
      height="100%"
      noDataText="no data"
      [dataSource]="dataSource"
      [showBorders]="true"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [allowColumnReordering]="true"
      [columnFixing]="{
        enabled: true,
        texts: { fix: 'Freeze', unfix: 'Unfreeze' }
      }"
      (onExporting)="onExporting($event)"
      [filterRow]="{ visible: false }"
      [headerFilter]="{ visible: false }"
    >
      <dxi-column
        *ngFor="let column of columnsConfig"
        [dataField]="column.dataField"
        [caption]="column.caption"
        [format]="column.format"
        [visible]="column.visible"
        [width]="200"
      ></dxi-column>

      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-paging *ngIf="show_Pagination" [pageSize]="10"></dxo-paging>
      <dxo-pager
        *ngIf="show_Pagination"
        [visible]="true"
        [allowedPageSizes]="allowedPageSizes"
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector"
        [showInfo]="showInfo"
        [showNavigationButtons]="showNavButtons"
      >
      </dxo-pager>
      <dxo-load-panel [showPane]="false"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-header-filter [visible]="true" highlight="true"></dxo-header-filter>

      <dxo-column-chooser [height]="400" [enabled]="true" mode="select">
      </dxo-column-chooser>
      <!-- <dxo-column-location location="before" colIndex="0"></dxo-column-location> -->
      <dxo-search-panel
        [visible]="true"
        placeholder="Search"
      ></dxo-search-panel>

      <dxo-filter-row
        [visible]="isFilterOpened"
        [applyFilter]="applyFilter"
      ></dxo-filter-row>
      <dxo-export
        [enabled]="true"
        [allowExportSelectedData]="true"
        [formats]="['xlsx', 'pdf']"
      >
      </dxo-export>
      <dxo-toolbar>
        <dxi-item location="before">
          <div class="grid-header">Claim Summary Reports</div>
        </dxi-item>
        <dxi-item
          widget="dxButton"
          [options]="{
            text: '',
            icon: 'filter',
            onClick: show_Parameter_Div,
            hint: hint_for_Parametr_div
          }"
        ></dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            text: 'Refresh',
            icon: 'refresh',
            onClick: refresh,
            stylingMode: 'text',
            hint: 'Refresh'
          }"
        ></dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        <dxi-item
          widget="dxButton"
          [options]="{
            text: '',
            icon: 'find',
            onClick: filterClick,
            hint: 'Search Column'
          }"
        ></dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        <dxi-item name="columnChooserButton" locateInMenu="auto"></dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        <dxi-item
          widget="dxButton"
          [options]="{
            text: '',
            icon: 'formula',
            onClick: SummaryClick,
            hint: 'Summary'
          }"
        ></dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        <dxi-item name="exportButton"></dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        <dxi-item
          widget="dxButton"
          [options]="{
            text: '',
            icon: 'newfolder',
            onClick: show_Memorise_popup,
            hint: 'Save Memorize Report'
          }"
        ></dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <div class="separator"></div>
        </dxi-item>
        <dxi-item
          widget="dxSelectBox"
          [options]="{
          text: '',
          dataSource:memorise_Dropdown_Data,
          displayExpr:'name',
          valueExpr:'name',
          icon: 'datafield',
          hint: 'Show Memorise Report',
          noDataText: 'load data and try again',
          selectable: true,
          placeholder:'memorise report',
          onValueChanged:ShowMemoriseTable,
          dropDownOptions:{
            width: 'auto',
          }
        }"
        ></dxi-item>
        <dxi-item
          class="columnfinderclass"
          widget="dxSelectBox"
          [options]="{
          dataSource: ColumnNames,
          searchEnabled: true,
          onValueChanged: makeColumnVisible,
          placeholder: 'Search Column',
          noDataText: 'load data and try again',
          showDropDownButton: true,
          hint: 'Column location finder',
          dropDownOptions: {
            width: 'auto',
          }
        }"
        >
        </dxi-item>
      </dxo-toolbar>

      <dxo-grouping
        [autoExpandAll]="false"
        [contextMenuEnabled]="true"
        [expandMode]="'rowClick'"
      ></dxo-grouping>

      <dxo-selection mode="multiple"></dxo-selection>
      <dxo-header-filter [visible]="true"></dxo-header-filter>

      <dxo-summary class="mainSummaryDiv" summaryText="Total">
        <!-- ==========================Group item Summary===================== -->
        <dxi-group-item
          column="ClaimedAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          [alignByColumn]="true"
          [showInGroupFooter]="false"
        >
        </dxi-group-item>
        <dxi-group-item
          column="RemittedAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          [alignByColumn]="true"
          [showInGroupFooter]="false"
        >
        </dxi-group-item>
        <dxi-group-item
          column="RejectedAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          [alignByColumn]="true"
          [showInGroupFooter]="false"
        >
        </dxi-group-item>
        <dxi-group-item
          column="PaidAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          [alignByColumn]="true"
          [showInGroupFooter]="false"
        >
        </dxi-group-item>
        <dxi-group-item
          column="BalanceAmount"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          [alignByColumn]="true"
          [showInGroupFooter]="false"
        >
        </dxi-group-item>
        <dxi-group-item
          column="ResubmittedAmt"
          summaryType="sum"
          displayFormat="{0}"
          [valueFormat]="{ type: 'fixedPoint', precision: 2, }"
          [alignByColumn]="true"
          [showInGroupFooter]="false"
        >
        </dxi-group-item>

        <!-- <ng-container *ngFor="let column of columnsData">
        <dxi-group-item *ngIf="column.Type === 'Decimal'"  [column]="column.dataField" summaryType="sum" displayFormat="{0}"
        [valueFormat]="{ type: 'fixedPoint', precision: 2 }" [alignByColumn]="true" [showInGroupFooter]="false">
      </dxi-group-item>
       </ng-container> -->

        <!-- ==========================Grand Total Summary==================== -->
        <ng-container class="totalsummaryDiv" *ngIf="isSummaryOpened">
          <dxi-total-item
            column="ClaimedAmount"
            summaryType="sum"
            displayFormat="{0}"
            [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          >
          </dxi-total-item>
          <dxi-total-item
            column="RemittedAmount"
            summaryType="sum"
            displayFormat="{0}"
            [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          >
          </dxi-total-item>
          <dxi-total-item
            column="RejectedAmount"
            summaryType="sum"
            displayFormat="{0}"
            [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          >
          </dxi-total-item>
          <dxi-total-item
            column="PaidAmount"
            summaryType="sum"
            displayFormat="{0}"
            [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          >
          </dxi-total-item>
          <dxi-total-item
            column="BalanceAmount"
            summaryType="sum"
            displayFormat="{0}"
            [valueFormat]="{ type: 'fixedPoint', precision: 2 }"
          >
          </dxi-total-item>
          <dxi-total-item
            column="ResubmittedAmt"
            summaryType="sum"
            displayFormat="{0}"
            [valueFormat]="{ type: 'fixedPoint', precision: 2, }"
          >
          </dxi-total-item>
        </ng-container>
      </dxo-summary>
    </dx-data-grid>
  </ng-container>
  <dx-popup
    [(visible)]="isSaveMemorisedOpened"
    [title]="'Memorise Report'"
    [width]="400"
    height="60vh"
  >
    <dx-form id="form">
      <dxi-item itemType="group" cssClass="form-group" [colCount]="1">
        <dxi-item itemType="group">
          <dxi-item
            dataField="MemoriseReportName"
            caption="Memorise Report Name"
            [editorOptions]="{
              placeholder: 'Enter Memorise Name',
              value: MemoriseReportName,
              onValueChanged: onMemoriseReportNameChanged.bind(this)
            }"
            [label]="{
              text: 'Memorise Report Name :',
              visible: true,
              location: 'top',
              alignment: 'left',
              showColon: false,
              showRequiredMark: false,
              textStyle: { fontWeight: 'bold' }
            }"
          >
          </dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
    <dx-button
      text="Save"
      type="default"
      (onClick)="save_Memorise_Report()"
      class="save-button"
    ></dx-button>
  </dx-popup>
</div>
