@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 72px;

  width: 100%;
  display: contents;
}
.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 0 10px;

  .grid {
    .name-template {
      .position {
        font-size: 10px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row   {
        cursor: pointer;
        height: 3rem;
        // padding: 0px
      }
    }

    .grid-header {
      @include header();
    }
    .dxo-filter-row {
      height: 5px;
      padding: 0;
      margin: 0;
    }
  }

  user-panel {
    display: inherit;
  }
}
.save-button {
  position: absolute;
  bottom: 35px;
  right: 25px;
}
.importItem{
  width: 600px
}



// -------------------------------------------

// @use "../../../../variables.scss" as *;
// @use "sass:math";

.toolbar-header {
  @include header();
}

@media only screen and (max-width: 400px) {
  ::ng-deep .dx-tab {
    min-width: 70px;
  }

  ::ng-deep .dx-theme-generic .dx-fieldset,
  ::ng-deep .dx-theme-material .dx-fieldset {
    width: 40%;
    float: left;
  }

  ::ng-deep .dx-field > .dx-lookup {
    flex: 1;
    width: 100px;
  }

  ::ng-deep #age {
    display: inline-block;
  }
}
.FieldHeader {
  margin-bottom: 0px;
  font-size: 15px;
}

.mainDiv {
  height: 70px;
  padding: 10px;
  margin-bottom: 0px;
}
.applyDiv {
  margin-top: 18px;
}


.Options {
  width: auto;
}




/* Reduce margin between rows */
.paramsDiv .dxi-item {
  margin-bottom: 5px; /* Adjust as needed */
}

/* Reduce padding within form-group */
.paramsDiv .form-group.reduced-padding {
  padding: 5px; /* Adjust as needed */
}

/* Reduce padding for input fields and labels */
.paramsDiv .dx-tag-box,
.paramsDiv .dx-select-box,
.paramsDiv .dx-date-box,
.paramsDiv .facility-label,
.paramsDiv .facility-input {
  padding: 0 5px; /* Adjust as needed */
}

/* Reduce margin for buttons */
.paramsDiv .dx-button {
  margin-right: 5px; /* Adjust as needed */
}

/* Adjust margins for specific elements */
.paramsDiv .importItem.mt-3.ms-3 {
  margin-top: 5px; /* Adjust as needed */
  margin-left: 5px; /* Adjust as needed */
}

.paramsDiv .mt-3.ms-1 {
  margin-top: 10px; /* Adjust as needed */
  margin-left: 5px; /* Adjust as needed */
}
