@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 72px;

  width: 100%;
  display: contents;
}
.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 0 10px;

  .grid {
    .name-template {
      .position {
        font-size: 10px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
        height: 5px;
      }
    }

    .grid-header {
      @include header();
    }
    .dxo-filter-row {
      height: 5px;
      padding: 0;
      margin: 0;
    }
  }

  user-panel {
    display: inherit;
  }
}
.save-button {
  position: absolute;
  bottom: 35px;
  right: 25px;
}



// -------------------------------------------

// @use "../../../../variables.scss" as *;
// @use "sass:math";

.toolbar-header {
  @include header();
}

@media only screen and (max-width: 400px) {
  ::ng-deep .dx-tab {
    min-width: 70px;
  }

  ::ng-deep .dx-theme-generic .dx-fieldset,
  ::ng-deep .dx-theme-material .dx-fieldset {
    width: 40%;
    float: left;
  }

  ::ng-deep .dx-field > .dx-lookup {
    flex: 1;
    width: 100px;
  }

  ::ng-deep #age {
    display: inline-block;
  }
}
.FieldHeader {
  margin-bottom: 0px;
  font-size: 15px;
}

.mainDiv {
  height: 70px;
  padding: 10px;
  margin-bottom: 0px;
}
.applyDiv {
  margin-top: 18px;
}

.paramsDiv {
  margin-bottom: 0px;
}

.Options {
  width: auto;
}
